.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    }

.feature {
    float: left;
    width: 33.3333%;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        column-gap: 2.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}